<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>966740813930-bandf4j73p6mq3b50jupbnsno8g1782r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.966740813930-bandf4j73p6mq3b50jupbnsno8g1782r</string>
	<key>API_KEY</key>
	<string>AIzaSyCmba2UP_vSZgZxx-dYKV72iXn0DHCgAmM</string>
	<key>GCM_SENDER_ID</key>
	<string>966740813930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jayanth.programs.FirebaseChat</string>
	<key>PROJECT_ID</key>
	<string>fir-chat-bb399</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-chat-bb399.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:966740813930:ios:43ad6a61abe953eaa6c213</string>
</dict>
</plist>